:root {
  --color-text: #2c3e50;
  --color-main: #ffffff;
  --color-accent: #42b983;
  --color-subaccent: #42b9838c;
  --color-rare: #486491;
  --color-form: #f6f6f6;
  --color-edit: #73abfe;
  --color-delete: #f66f66;
  --color-logout: #304455;
  --color-deactivated: #e4e4e4;
  --color-busy: #ffb3b3;

  --border-radius: 10px;
}
